Cython~=0.29.21
PyChromecast~=7.4.1
PyYAML~=5.3.1
Pygments~=2.6.1
colorama~=0.4.3
cryptography~=2.9.2
docutils~=0.16
future~=0.18.2
gTTS~=2.1.1
keyring~=21.2.1
lxml~=4.5.2
pip~=20.2.3
pretty-errors~=1.2.18
prompt_toolkit~=3.0.5
py~=1.9.0
requests~=2.24.0
setuptools~=50.3.0
six~=1.15.0
spinners~=0.0.24
termcolor~=1.1.0
textblob~=0.15.3
wheel~=0.34.2
